*.pyc
*.m~
*.mat
*.mex*
*.dll
*.caffemodel
*.solverstate
blender-2.71-linux-glibc211-x86_64
global_variables.m
data/CAD_preview
data/syn_images*
data/view_*
data/raw.txt
data/truncation_*
data/real_images
data/tmp*
data/real_lmdbs
data/syn_lmdbs
datasets/pascal3d
datasets/shapenetcore
datasets/sun2012pascalformat
*deformed*
experiments

*.png
